<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ConEnv</title>
</head>
<body>
    <h1>Welcome to the Controlled Environment Internet of Things Project</h1>
    <script async src="script.js"></script>
</body>
</html>