<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style/style2.css">
    <link rel="shortcut icon" type="image/jpg" href="./style/images/Tree Icon.png" />
    <title>Controlled Environment - Index</title>
</head>
<body>
    <h1 class="header header-index">Welcome to your Controlled Environment</h1>
   <div class = "body-div">
    <select class = "modeSelect">
      <option>Automatic</option>
      <option>Manual</option>
    </select>
    <div class = "autoOptions" hidden>
      <h2>Automatic mode</h2>
      <p>Please choose from the given schemes:</p>
      <select class = "scheme">Modes
        <option>Lizard</option>
        <option>Snake</option>
        <option>Green plant</option>
        <option>Cactus</option>
        <option>Hamster</option>
      </select>
    </div>
    <div class = "manualOptions" hidden>
      <li>Temperature(20 C - 45C)</li>
      <input type="range" max = "45" min = "20" class = "temperatureSetting">
      <li>Humidity(50% - 90%)</li>
      <input type="range" max = "90" min = "50" class = "humiditySetting">
      <li>Light level(To be implemented)</li>
      <input type="range" max = "1000" min = "100" class = "lightLevelSetting" hidden>
    </div>
    <div class="current">
        <li>
          <span class="currentTemp"></span>
        </li>
        <li>
          <span class="currentHumidity"></span>
        </li>
        <li>
          <span class="currentLightLevel"></span>
        </li>
    </div>
    <br>
    <button type="submit" class="sendSettings">Submit</button>
    <button type="submit" class="logout">Logout</button>
    <button type="submit" class="toArchive">Archive</button>
    <script async src="script/script.js"></script>
    </div>
</body>
</html>