body {

    background-image: url("./images/bgblack.jpg");
    background-size: cover;
    background-color: #cccccc;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: grid;
    



}

.header {
    grid-column-start: col-start 0;
    grid-row-start: row-start 0;
    grid-column-end: span 6;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 10px;

}

.body-div {
    border-radius: 25px;
    border: 2px solid #eff5e8;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    position: fixed;
    padding: 20px;
    top: 150px;
    left: 150px;
    right: 150px;
    min-width: 500px;


}

.autoOptions {
    grid-row-start: 2;
    grid-column-start: col-start 0;
    grid-column-end: span 3;
    border-radius: 25px;
    border: 2px solid #eff5e8;
    padding: 30px;
    margin: 0px 0px 20px 0px;

}

.manualOptions {
    grid-row-start: 2;
    grid-column-start: col-start 0;
    grid-column-end: span 3;
    border-radius: 25px;
    border: 2px solid #eff5e8;
    padding: 30px;
    margin: 0px 0px 20px 0px;

}

select {
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(95, 158, 160, 0.356);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.current {
    grid-row-start: 2;
    grid-column-start: col-start 3;
    grid-column-end: span 3;
    border-radius: 25px;
    border: 2px solid #eff5e8;
    padding: 30px;
    margin: 0px 0px 20px 0px;

}

.modeSelect {
    grid-column-start: col-start 0;
    grid-column-end: span 6;
}

.scheme {
    grid-column-start: col-start 0;
    grid-column-end: span 6;
}

.sendSettings {
    margin-top: -30px;
    grid-row-start: 4;
    grid-column-start: col-start 0;
    grid-column-end: span 2;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(95, 158, 160, 0.356);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.logout {
    grid-row-start: 4;
    grid-column-start: col-start 2;
    grid-column-end: span 2;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(95, 158, 160, 0.356);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -30px;


}

.toArchive {
    grid-row-start: 4;
    grid-column-start: col-start 4;
    grid-column-end: span 2;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(95, 158, 160, 0.356);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: -30px;


}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    padding: 15px;

}

#title {
    padding: 20px;
    grid-row-start: row-start 5;
    grid-column-start: col-start 0;
    grid-column-end: span 2;
    font-size: 15px;

}

#marwan {
    grid-row-start: row-start 6;
    grid-column-start: col-start 0;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#isa {
    grid-row-start: row-start 6;
    grid-column-start: col-start 1;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#marcell {
    grid-row-start: row-start 6;
    grid-column-start: col-start 2;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#leila {
    grid-row-start: row-start 6;
    grid-column-start: col-start 3;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

a {
    display: block;
}

a:link,
a:visited {
    background-color: #15af228a;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #16da16ad;
}



