.archive_page_index {
    background-image: url("./images/bg7.jpg");
    background-size: cover;
    background-color: #cccccc;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: grid;
}

.archive_page_bg {
    background-image: url("./images/bgblack.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-color: #cccccc;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: grid;
}

.header-index {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.body-div {
    border-radius: 25px;
    border: 2px solid #eff5e8;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-row-gap:10px;
    position: fixed;
    padding: 20px;
    top: 150px;
    left: 450px;
    right: 450px;


}

#login-header {
    grid-column-start: col-start 0;
    grid-row-start: row-start 0;
    grid-column-end: span 6;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 10px;
}

#login-title {
    grid-column-start: col-start 0;
    grid-row-start: row-start 1;
    grid-column-end: span 6;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 90%;
}

.login-submit {
    
    padding: 20px;
    text-align: center;
    margin: auto;
}

.input-box {
    padding: 20px;
    text-align: center;
    margin: auto;
}

.username-div {
    grid-row-start: row-start 1;
    grid-column-start: col-start 1;
    grid-column-end: span 4;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;
    display: grid;

}

#username-label {
    grid-row-start: row-start 1;
    grid-column-start: col-start 1;
    font-size: 25px;
    padding-right: 20;
}

#username-input {
    grid-row-start: row-start 1;
    grid-column-start: col-start 2;
    grid-column-end: span 2;

    height: 25px;
    font-size: 20px;
}


.password-div {
    grid-row-start: row-start 3;
    grid-column-start: col-start 1;
    grid-column-end: span 4;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;
    display: grid;
}

#password-label {
    grid-row-start: row-start 1;
    grid-column-start: col-start 1;
    font-size: 25px;
    padding-right: 20;

    

}

#password-input {
    grid-row-start: row-start 1;
    grid-column-start: col-start 2;
    grid-column-end: span 2;
    height: 25px;
    font-size: 20px;
}
form i {
    margin-left: -30px;
    cursor: pointer;
}
.show {
    grid-row-start: row-start 1;
    grid-column-start: col-start 3;
    background-image: url("./images/pwon.png");
    background-size: cover;
    width: 24px;
    height: 22px;
    margin-left: -30px;
    margin-top: 2px;

    cursor: pointer;
}

.no-show {
    margin-left: -30px;
    margin-top: 2px;
    cursor: pointer;
    grid-row-start: row-start 1;
    grid-column-start: col-start 3;
    background-image: url("./images/pwoff.png");
    background-size: cover;
    width: 24px;
    height: 22px;
}

.login {
    width: 190px;

    border-radius: 50px;
    border: 2px solid #eff5e8;
    grid-row-start: row-start 4;
    grid-column-start: col-start 2;
    grid-column-end: span 1;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.652);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-right: 5px;


}

.register {
    width: 190px;
    border-radius: 50px;
    border: 2px solid #eff5e8;
    grid-row-start: row-start 4;
    grid-column-start: col-start 3;
    grid-column-end: span 1;
    background-color: rgba(0, 0, 0, 0.652);
    background-color: rgba(0, 0, 0, 0.652);
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-left: 5px;

}
.delete{
     width:400px;
    border-radius: 50px;
    border: 2px solid #eff5e8;
    grid-row-start: row-start 5;
    grid-column-start: col-start 2;
    grid-column-end: span 2;
    background-color: rgba(0, 0, 0, 0.652);
    background-color: rgba(0, 0, 0, 0.652);
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    padding: 15px;

}

#title {
    padding: 20px;
    grid-row-start: row-start 5;
    grid-column-start: col-start 0;
    grid-column-end: span 2;
    font-size: 15px;

}

#marwan {
    grid-row-start: row-start 6;
    grid-column-start: col-start 0;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#isa {
    grid-row-start: row-start 6;
    grid-column-start: col-start 1;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#marcell {
    grid-row-start: row-start 6;
    grid-column-start: col-start 2;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#leila {
    grid-row-start: row-start 6;
    grid-column-start: col-start 3;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

a {
    display: block;
}

a:link,
a:visited {
    background-color: #15af228a;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #16da16ad;
}

.backToIndex {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    width: 500px;
    border-radius: 5px;
}

.showGraph {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    width: 500px;
    border-radius: 5px;
}

.graph_area {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    width: 1000px;
    border-radius: 5px;
}

.archiveSetting {
    border: 1px solid #333;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}

.table_set {
    background-color: #333;
    color:#fff"
}

.table_set_tr {
    background-color: rgba(95, 158, 160, 0.356);
    border:1px solid #333;
}