body {

    background-image: url("./images/bg7.jpg");
    background-size: cover;
    background-color: #cccccc;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: grid;

}

.header-index{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.body-div {
    border-radius: 25px;
    border: 2px solid #eff5e8;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    position: fixed;
    padding: 20px;
    top: 150px;
    left: 450px;
    right: 450px;
    

}

#login-header {
    grid-column-start: col-start 0;
    grid-row-start: row-start 0;
    grid-column-end: span 6;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    width: 90%;
    padding: 10px;
}

#login-title {
    grid-column-start: col-start 0;
    grid-row-start: row-start 1;
    grid-column-end: span 6;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 90%;
}

.login-submit {
    padding: 20px;
    text-align: center;
    margin: auto;
}

.input-box {
    padding: 20px;
    text-align: center;
    margin: auto;
}

.username-div {
    grid-row-start: row-start 1;
    grid-column-start: col-start 1;
    grid-column-end: span 4;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;
}

#username-label {
    font-size: 25px;
}

#username-input {
    height: 25px;
    font-size: 20px;
}


.password-div {
    grid-row-start: row-start 3;
    grid-column-start: col-start 1;
    grid-column-end: span 4;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;
}

#password-label {
    font-size: 25px;

}

#password-input {
    height: 25px;
    font-size: 20px;
}

.show {
    background-image: url("./images/pwon.png");
    background-size: cover;
    width: 24px;
    height: 22px;
}

.no-show {
    background-image: url("./images/pwoff.png");
    background-size: cover;
    width: 24px;
    height: 22px;
}

.login {
    grid-row-start: row-start 4;
    grid-column-start: col-start 2;
    grid-column-end: span 1;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.652);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;

}

.register {
    grid-row-start: row-start 4;
    grid-column-start: col-start 3;
    grid-column-end: span 1;
    background-color: rgba(0, 0, 0, 0.652);
    background-color: rgba(0, 0, 0, 0.652);
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    margin: auto;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.652);

}

#title {
    padding: 20px;
    grid-row-start: row-start 5;
    grid-column-start: col-start 0;
    grid-column-end: span 2;
    font-size: 15px;

}

#marwan {
    grid-row-start: row-start 6;
    grid-column-start: col-start 0;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#isa {
    grid-row-start: row-start 6;
    grid-column-start: col-start 1;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#marcell {
    grid-row-start: row-start 6;
    grid-column-start: col-start 2;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

#leila {
    grid-row-start: row-start 6;
    grid-column-start: col-start 3;
    grid-column-end: span 1;
    padding: 10px;
    font-size: 15px;

}

a {
    display: block;
}

a:link,
a:visited {
    background-color: #15af228a;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #16da16ad;
}