body {
    
    background-image: url("./images/Jungle.png");
    background-size: cover;
    background-color: #cccccc;
    padding: 20px;
}
.body-div{
    background-color: black;
    opacity: 70%;
    display: grid;
    padding: 14%;
}
#login-header {
    grid-column-start: col-start 1;
    grid-row-start: row-start 1;
    grid-column-end: span 4;
    background-color: black;
    opacity: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    width: 90%;

}

.login-submit {
    padding: 20px;
    text-align: center;
    margin: auto;

}

.input-box {
    padding: 20px;
    text-align: center;
    margin: auto;

}

.usernameDiv {
    grid-row-start: row-start 2;
    grid-column-start: col-start 1;
    grid-column-end: span 2;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
    opacity: 70%;
    padding: 20px;
    text-align: center;
    margin: auto;

}

.passwordDiv {
    grid-row-start: row-start 2;
    grid-column-start: col-start 3;
    grid-column-end: span 2;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
    opacity: 70%;
    padding: 20px;
    text-align: center;
    margin: auto;

}
#show-password{
    background-image: url("./images/pwon.png");
    background-size: cover;
    width: 20px;
    height: 20px;
}
.login {
    grid-row-start: row-start 3;
    grid-column-start: col-start 2;
    grid-column-end: span 1;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
    opacity: 70%;
    padding: 20px;
    text-align: center;
    margin: auto;

}

.register {
    grid-row-start: row-start 3;
    grid-column-start: col-start 3;
    grid-column-end: span 1;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
    opacity: 70%;
    padding: 20px;
    text-align: center;
    margin: auto;

}